.heroLeft {
    position: relative;
    z-index: 3;
}
.heroLeft * {
    z-index: 3;
}
.heroLeft::after {
    content: '';
    position: absolute;
    inset: 0rem;
    left: 4rem;
    width: 70%;
    height: 70%;
    background-color:#10b98180;
    filter: blur(9rem);
    z-index: -1;
}
#heroImgContainer {
    width: 25rem;
    height: 25rem;
}