#skills {
    position: relative;
    z-index: 3;
}

#skills * {
    z-index: 3;
}

#skills::after {
    content: '';
    position: absolute;
    inset: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: rgba(16, 185, 129, 0.4);
    filter: blur(10rem);
    z-index: -1;
}